<div class="{{ class }}">
    <span class="text-gray-400 scd-item__qty_numb">{{ item.quantity }}</span>
    <span class="text-gray-400 px-1">x</span>
    <span class="sf-currency">{{ item.final_price | money }}</span>
</div>
