{%- capture form_id -%}contact-form__{{ "now" | date: "%L" }}{%- endcapture -%}
{%- capture form_class -%}sf__footer-form-newsletter form__style-{{block_settings.form_style}}{%- endcapture -%}
{% form 'customer', id: form_id, class: form_class %}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="relative">
        <input
            type="email" required
            name="contact[email]"
            placeholder="{{ block_settings.email_placeholder }}"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="off"
            spellcheck="false"
            class="form-control form__control-icon py-1.5 px-12 sf__newletter__form-input"
        >
        {% unless block_settings.form_style == 'minimal' %}
        <span class="sf__footer-form-newsletter-icon absolute">
            {% render 'icon', name: 'envelope', size: 'small' %}
        </span>
        {% endunless %}
        <button type="submit" name="commit" class="sf__form-submit absolute">
            {% render 'icon', name: 'arrow-right', size: 'small' %}
        </button>
    </div>

    {% render 'form__error', form: form %}

    {%- capture success_message -%}
        {{ 'general.newsletter_form.confirmation' | t }}
    {%- endcapture -%}
    {% render 'form__success', form: form, success_message: success_message %}
{% endform %}
