<div data-recover-form>
    {% form 'recover_customer_password' %}
    {% if form.posted_successfully? %}
        <div class="notification show success mt-5 mb-2 text-base sf-customer__recover-form-posted">
            {{ 'customer.recover_password.success' | t }}
        </div>
    {% endif %}
    {% render 'form__error', form: form %}

    <input class="form-control" type="email" name="email"
        placeholder="{{ 'customer.recover_password.email' | t }}" spellcheck="false" autocomplete="off"
        autocapitalize="off" />

    <div class="flex mt-2">
        <button type="submit" class="sf__btn sf__btn-primary block w-40">
            {{ 'customer.recover_password.submit' | t }}
        </button>
        <button type="button" data-recover-toggle
            class="sf__btn-secondary sf-customer__cancel-reset block w-40 ml-4">
            {{ 'customer.recover_password.cancel' | t }}
        </button>
    </div>
    {% endform %}
</div>
