<a href="tel:{{ settings.contact_phone_number }}" class="flex items-center px-4">
    {% render 'icon', name: 'phone', size: 'small' %}
    <span class="ml-2">{{ settings.contact_phone_number }}</span>
</a>
