<div class="sf-prod__layout-1">
    <div class="flex flex-wrap sf-prod__block sf-prod__container">
        <div class="w-full md:w-1/2">
            <div class="sf-prod-media__wrapper default-variant">
                <div class="sf-product-media__desktop flex justify-end hidden1 md:block">
                  <div class="flex-grow">
                    {% for media in product.media %}
                      <div class="sf-prod-media-item media-type-{{ media.media_type }} overflow-hidden relative group" data-index={{ forloop.index0 }}>
                        {% render 'media', media: media, aspect_ratio: media.aspect_ratio %}
                        <div class="transition-all opacity-100 md:opacity-0 absolute z-10 right-5 md:-right-14 top-5 group-hover:opacity-100 group-hover:right-5">
                          {% render 'tooltip', type: 'zoom-in', class_name: 'sf__tooltip-left' %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                {% comment %}
                <div class="sf-product-media__mobile md:hidden">
                  {% render 'product-page-mobile-media' %}
                </div>
                {% endcomment %}
            </div>
        </div>
        <div class="w-full md:w-1/2">
          {% render 'product-page__info' %}
        </div>
    </div>
</div>
