<div class="sf-prod-mobile__layout-1">
    <div class="container">
      <div class="sf-prod__block" data-view="mobile">
        {% render 'product-page-mobile-media' %}
        {% render 'product-page__info' %}
      </div>
    </div>
</div>
