<div class="sf-prod__{{ section.settings.layout }} layout-slider-1">
    {% case section.settings.layout %}
        {% when 'layout-4' %}
            <div class="lg:container">
                <div class="flex flex-wrap sf-prod__block sf-prod__container">
                    <div class="w-full md:w-1/2">
                      <div class="sf-prod-media__wrapper">
                        <div class="sf-product-media__desktop hidden md:block">
                          {% render 'product-page__slider-1', product_layout: section.settings.layout %}
                        </div>
                        <div class="sf-product-media__mobile md:hidden">
                          {% render 'product-page-mobile-media' %}
                        </div>
                      </div>
                    </div>
                    <div class="w-full md:w-1/2">
                        {% render 'product-page__info' %}
                    </div>
                </div>
            </div>
        {% when 'layout-5' %}
            <div class="sf-prod__block flex flex-wrap sf-prod__container">
                <div class="w-full md:w-7/12 flex-1">
                  <div class="sf-prod-media__wrapper">
                        <div class="sf-product-media__desktop hidden md:block">
                          {% render 'product-page__slider-1', product_layout: section.settings.layout %}
                        </div>
                        <div class="sf-product-media__mobile md:hidden">
                          {% render 'product-page-mobile-media' %}
                        </div>
                      </div>
                </div>
                <div class="w-full md:w-5/12 sf-prod__summary">
                    {% render 'product-page__info' %}
                </div>
            </div>
        {% when 'layout-6' %}
            <div class="sf-prod__block flex flex-wrap sf-prod__container">
                <div class="w-full md:w-1/2">
                  <div class="sf-prod-media__wrapper">
                    <div class="sf-product-media__desktop hidden md:block">
                      {% render 'product-page__slider-1', product_layout: section.settings.layout %}
                    </div>
                    <div class="sf-product-media__mobile md:hidden">
                      {% render 'product-page-mobile-media' %}
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-1/2">
                    {% render 'product-page__info' %}
                </div>
            </div>
    {% endcase %}
</div>
