<div class="sf__pcard {{ card_sale_class | strip_newlines }} cursor-pointer sf-prod__block sf__pcard-style-4" data-view="card">
  {%- form 'product', product, id: form_id, class: 'product-form form', novalidate: 'novalidate', data-product-id: product.id, data-product-handle: product.handle -%}
    <input hidden name="id" required value="{{ product.selected_or_first_available_variant.id }}">
    <div class="sf__pcard-image {% unless settings.show_second_img %}spc__img-only{% endunless %}">
      <div class="overflow-hidden cursor-pointer relative sf__image-box">
        {% render 'product-card-main-images', product: product, image_ratio: image_ratio %}
        {% render 'product-card-sale-badges', product: product %}
        {% render 'product-card-soldout-text', sold_out: sold_out %}
        {%- if settings.show_quickview_button or settings.show_cart_button or settings.show_compare_button -%}
          <div class="sf__pcard-action">
            <div class="sf__pcard-group-action">
              {% render 'product-card-tooltips', product: product, position: 'top' %}
            </div>
          </div>
        {%- endif -%}
        {% render 'product-card-countdown', product: product %}
      </div>
    </div>
    <div class="sf__pcard-content text-{{ settings.pcard_alignment }}">
      {% render 'product-card-info', product: product, show_vendor: show_vendor %}
      {%- if sold_out == false and settings.show_cart_button -%}
        <div class="sf__pcard-action-atc flex justify-center">
          {% render 'product-card-quick-add-btn', product: product, quick_add_text: quick_add_text %}
        </div>
      {%- endif -%}
      {% render 'product-card-view-list', product: product, quick_add_text: quick_add_text %}
    </div>
  {%- endform -%}
</div>

