<div class="flex">
    <div class="day-block time-block mr-2.5">
        <span class="countdown-timer-day text-[28px]">00</span>
        <span class="time-unit">{{ 'general.time.days' | t }}</span>
    </div>
    <div class="time-block mr-2.5">
        <span class="countdown-timer-hour text-[28px]">00</span>
        <span class="time-unit">{{ 'general.time.hrs' | t }}</span>
    </div>
    <div class="time-block mr-2.5">
        <span class="countdown-timer-minute text-[28px]">00</span>
        <span class="time-unit">{{ 'general.time.mins' | t }}</span>
    </div>
    <div class="time-block">
        <span class="countdown-timer-sec text-[28px]">00</span>
        <span class="time-unit">{{ 'general.time.secs' | t }}</span>
    </div>
</div>
