{% render 'page-title', title: page.title, container: true %}
{%- if page.content != blank -%}
  <div class="container mx-auto xl:pb-16 sm:pb-10 pb-8">
    <div class="prose">
      {{ page.content }}
    </div>
  </div>
{%- endif -%}
