
      <div class='powr-form-builder' id='shopify-section-form-builder-{{ section.id }}'></div>
      {% schema %}
        {
          "name": "Form Builder",
          "settings": [
            {
              "type": "header",
              "content": "Edit",
              "info": "Manage Plugins on [POWR.io](https://www.powr.io)"
            },
            {
              "type": "paragraph",
              "content": "Click Edit Me in Preview to Edit Form Builder."
            },
            {
              "type": "paragraph",
              "content": "[Need Help?](https://www.powr.io/knowledge-base)"
            }
          ],
          "presets": [
            {
              "name": "Form Builder",
              "category": "POWR Plugins"
            }
          ]
        }
      {% endschema %}
      