<div class="sf-product-reviews sf-product__section">
  <div class="{{ section.settings.container }}">
    {%- assign default_heading = 'products.product.product_reviews_heading' | t  -%}
    <h2 class="sf-product__section-heading">{{ section.settings.heading | default: default_heading }}</h2>
    {% render 'product-reviews-app__snippet', custom_liquid: section.settings.custom_liquid %}
  </div>
</div>

{% schema %}
    {
        "name": "Product reviews",
        "settings": [
            {
              "type": "header",
              "content": "Requirements",
              "info": "This section requires a product reviews app to work. Such as Shopify product reviews, Growave, Judge.me, Loox"
            },
            {
                "type": "select",
                "id": "container",
                "label": "Container type",
                "default": "container",
                "options": [
                    {
                        "value": "container",
                        "label": "Fixed width"
                    },
                    {
                        "value": "container-fluid",
                        "label": "Stretched width"
                    },
                    {
                        "value": "container-narrow",
                        "label": "Narrow width"
                    }
                ]
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Reviews",
                "placeholder": "Reviews"
            },
            {
                "type": "header",
                "content": "Other review app"
            },
            {
                "type": "liquid",
                "id": "custom_liquid",
                "label": "Custom liquid",
                "info": "Paste the liquid code of the app review here"
            }
        ],
        "templates": ["product"],
        "presets": [
          {
            "name": "Product reviews"
          }
        ]
    }
{% endschema %}
